.body-color{
    background-color: #F7F7FF;
}


.bg-agencia{
    background-color: #1B1F3B;
}

.login{
    text-decoration: none;
    color: #F7F7FF;
}

.carou{
    margin-top: 50px;
    height: 600px;
    width: 700px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;

}