
@media screen and (max-width: 950px){
    div.carou {

        margin-top: 50px;
        height: 300px;
        width:  400px;
      
    }
  }

@media screen and (max-width: 485px){
    div.carou {

        margin-top: 50px;
        height: 200px;
        width:  300px;
      
    }
  }


.body-color{
    background-color: #F7F7FF;
}


.bg-agencia{
    background-color: #1B1F3B;
}

.login{
    text-decoration: none;
    color: #F7F7FF;
}

.carou{
    margin-top: 50px;
    height: 600px;
    width: 700px;
}

.caption-carou{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1f3b9c;
    border-radius: 20px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(55, 55, 255) !important;
}

path{
    fill: white;
}
